.main-project {
  max-width: 1600px;
  margin: 0px auto 0px;
  padding: 80px 80px 0px 80px;
}
.banner {
  border-radius: 16px;
  max-width: 1320px;
  height: 420px;
  width: 100%;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Banner\ Image.png");
  font-family: Merriweather;
  color: #ffffff;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-top: 140px;
  padding-bottom: 50px;
  text-align: center;
}
.banner h3 {
  font-size: 32px;
  color: #fff;
  text-align: center;
  font-family: Merriweather;
  font-size: 32px;
  line-height: normal;
}
.banner h1 {
  color: #fff;
  padding-left: 400px;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  width: 600px;
}
.banner-2 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 80px;
}
.banner-2 h1 {
  font-size: 60px;
  color: red;
}
.banner-2 h4 {
  color: red;
}
.banner-2 img {
  width: 800px;
  height: 500px;
}
.victor {
  display: flex;
  max-width: 1120px;
  height: 510px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 80%),
    url("images/Vectorrr.png");
  font-family: Merriweather;
  color: #ffffff;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding-left: 150px;
  border-radius: 30px;
  padding-bottom: 220px;
}
.victor h1 {
  padding-top: 100px;
  font-size: 64px;
  padding-bottom: 5px;
  width: 666px;
}
.victor p {
  font-size: 20px;
  width: 697px;
}
.victor button {
  background-color: transparent;
  font-family: Inter;
  font-size: 20px;
  color: aliceblue;
  border: 0px;
}
.victor-image img {
  padding-top: 70px;
}
.banner-3 {
  width: 100%;
  max-width: 1270px;
  font-family: Merriweather;
  color: black;
  margin: 0 auto;
  font-size: 40px;
  padding-top: 10px;
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  padding-bottom: 80px;
}
.join-now-btn {
  padding: 16px 32px;
  border: 0px;
  background-color: red;
  color: #ffffff;
  border-radius: 10px;
  font-size: 25px;
}
.best-offer {
  width: 100%;
  height: 480px;
  margin: auto;
  display: flex;
}
.row-1 {
  align-items: center;
  width: 30%;
  padding-top: 70px;
}
.row-1 h3 {
  color: #f00;
  font-family: Inter;
  font-size: 25px;
}
.row-1 h1 {
  font-size: 65px;
}
.row-1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  width: 393px;
}
.row-2 {
  height: 100%;
  width: 40%;
  border-radius: 100%;
}
.row-2 img {
  margin: 60px;
  border: 18px solid red;
  border-radius: 0100%;
  padding: 20px;
  background-color: #fff;
}
.row-3 {
  padding-top: 60px;
  padding-left: 30px;
}
.row-3 h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.row-3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
}
.row-3 img {
  padding-top: 80px;
  padding-left: 30px;
}
.discount {
  border-radius: 20px;
  width: 100%;
  height: 800px;
  margin: 0 auto;
  height: 900px;
  padding-top: 50px;
  padding-bottom: 70px;
}
.discount,
p,
h1,
h2 {
  text-align: center;
  font-size: 40px;
}

.rectangle-2 {
  padding-top: 350px;
  border-radius: 30px;
  width: 100%;
}
.rectangle-1 {
  position: absolute;
  padding-left: 1250px;
  width: 350px;
  height: 350px;
}
.group-75 {
  position: absolute;
  padding-left: 70px;
}
.group-44 {
  position: absolute;
  height: 200px;
  width: 200px;
  padding-left: 1060px;
  padding-top: 70px;
}
.subscribe-newsletter {
  width: 100%;
  color: #ffffff;
  font-size: 25px;
  line-height: 5px;
  padding-top: 30px;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  padding-bottom: 60px;
}
.subscribe-newsletter h1 {
  color: #070211;
  text-align: center;
  font-size: 48px;
}
.subscribe-newsletter p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-family: Inter;
}
.subscribe-newsletter input {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  width: 648px;
  height: 72px;
  border: 0px;
  text-align: center;
  font-size: 25px;
}
.subscribe-newsletter button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  height: 72px;
  color: #fff;
  border: 0px;
  text-align: center;
  font-size: 30px;
  margin-left: -5px;
}
.input_mail input,
button {
  display: flexbox;
}
.main-container {
  text-align:left;
  width: 100%;
   padding-top: 60px;
}
.main-container h1,p,h3{
  text-align: left ;
  padding-left: 40px;
}

.row-container-1 {
  display: flex;
}
.row-container-2 {
  display: flex; 
}
.container{
  padding: 40px;
}

.footer-main {
  margin-top: 50px;
  padding-top: 50px;
  width: 100%;
  height: 600px;
  background-color: black;
  position: relative;
}
.footer-main-sub {
  width: 1400px;
  margin: 0 auto;
  padding: 80px 50px 50px 120px;
}
.footer-1 {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.footer-2 {
  text-align: center;
  padding:40px 0 40px 0;
}
.footer-3 {
  display: flex;
  justify-content: space-between;
  color: #fff;
  padding-top: 30px;
}
