.banner {
  border-radius: 16px;
  width: 100%;
  max-width: 1320px;
  height: 450px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("images/Banner\ Image.png");
  font-family: Merriweather;
  color: #ffffff;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900px;
  line-height: 50px;
  padding-top: 150px;
  text-align: center;
}
.banner h3 {
  font-size: 32px;
}
.banner-2 {
  width: 100%;
  max-width: 720px;
  text-align: center;
  margin: 0 auto;
}
.banner-2 h1 {
  font-size: 60px;
  color: red;
}
.banner-2 h4 {
  color: red;
}
.banner-2 img {
  width: 600px;
  height: 300px;
}
.victor {
  display: flex;
  /* align-items: end; */
  width: 100%;
  max-width: 1120px;
  height: 600px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 80%),
    url("images/Vectorrr.png");
  font-family: Merriweather;
  color: #ffffff;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 50px;
  font-size: 40px;
  font-weight: 900px;
  line-height: 5px;
  padding-top: 150px;
  padding-left: 150px;
  border-radius: 16px;
}
.victor h1 {
  padding-bottom: 5px;
}
.victor p {
  /* padding-left: 150px; */
  font-size: 20px;
}
.victor button {
  background-color: transparent;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  color: aliceblue;
  border: 0px;
}
.victor-image img {
  display: flex;
  width: 310px;
  height: 430px;
  padding: 0px 0px 0px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
  padding-bottom: 25px;
  border-radius: 16px;
}
.banner-3 {
  width: 100%;
  max-width: 1320px;
  height: 450px;
  background-color: rgba(255, 0, 0, 0.1);
  font-family: Merriweather;
  color: black;
  margin: auto;
  background-repeat: no-repeat;
  /* margin-top: 10px; */
  font-size: 40px;
  font-weight: 900px;
  line-height: 50px;
  padding-top: 10px;
  text-align: center;
  border-radius: 7px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
}
.join-now {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 0px;
  background-color: red;
  color: #ffffff;
  border-radius: 5px;
  font-size: 30px;
}
.best-offer {
  width: 100%;
  max-width: 1320px;
  height: 480px;
  margin: auto;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  background-color: none;
  gap: 40px;
  padding: 0px 25px;
}
.row-1 {
  align-items: center;
  width: 30%;
}
.row-1 h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 5px;
  line-height: normal;
}
.row-1 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 393px;
}
.row-2 {
  height: 100%;
  width: 40%;
  /* border: 15px solid black; */
  border-radius: 100%;
}
.row-2 img {
  margin: 60px;
  border: 18px solid red;
  border-radius: 0100%;
  padding: 10px;
  background-color: #fff;
}
.row-3 h1 {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.row-3 p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.row-3 img {
  align-items: end;
  /* justify-content: end; */
}
.discount {
  border-radius: 20px;
  padding-top: 30px;
  width: 100%;
  max-width: 1320px;
  height: 900px;
  /* background-color: aqua; */
  margin: 40px auto;
}
.discount-writing {
  text-align: center;
}
.discount-writing h2 {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  /* font-weight: 500px; */
  /* line-height: normal; */
}
.discount-writing h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  /* font-weight: 900px; */
}
.discount-writing p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400px;
  line-height: 32px;
  width: 880px;
  padding-left:280px;
}
.discount-image{
  position: relative;
  height: 600px;
}
.rectangle-2{
  position: absolute;
  top: 350px;
  border-radius: 10px; 
}
.rectangle-1{
  position: absolute;
  top: 55px;
  /* border-radius: 10px; */
  left: 1020px; 
  width: 300px;
height: 300px;
flex-shrink: 0;
}
.group-75{
  position: absolute;
  height: 500px;
  width: 500px;
  left: 200px;
}
.group-44{
  position: absolute;
  height: 200px;
  width: 200px;
  left: 900px;
  top: 150px;
}
.subscribe-newsletter {
  width: 100%;
  max-width: 1320px;
  height: 560px;
  color: #ffffff;
  margin: auto;
  background-repeat: no-repeat;
  margin-top: 25px;
  font-size: 25px;
  font-weight: 900px;
  line-height: 5px;
  padding-top: 30px;
  text-align: center;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}
.subscribe-newsletter h1 {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.subscribe-newsletter p {
  color: rgba(7, 2, 17, 0.6);
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 160% */
}

.subscribe-newsletter input {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  width: 648px;
  height: 72px;
  margin: 0px;
  border: 0px;
  text-align: center;
  font-size: 40px;
}
.subscribe-newsletter button {
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  width: 210px;
  height: 72px;
  color: #fff;
  border: 0px;
  text-align: center;
  font-size: 30px;
}

.gallery {
  width: 100%;
  max-width: 1320px;
  height: 600px;
  /* display: flex; */
  margin: 0 auto;
}
.gallery h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.gallery h1 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.gallery p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.row-one img {
  padding: 18px;
  display: flex;
}
.main-container {
  padding-top: 130px;
  margin: 0 auto;
  width: 100%;
  max-width: 1320px;
  height: 600px;
}
.main-container h3 {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-container h1 {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
}
.main-container p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  width: 888px;
}
.container {
  padding: 20px 20px 20px 0px;
}
.row-container-1 {
  display: flex;
}
.row-container-2 {
  display: flex;
}

.footer-main{
  /* border-radius: 16px; */
  width: 100%;
  max-width: 1320px;
  height: 450px;
  /* background-color:aqua; */
  background-color: black;
  margin: 0 auto;
  position: relative;
}
.footer-main p{
  position: absolute;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 160% */
  width: 500px;
  padding-top:20px ;
  padding-left: 40px;
  color: #FFF;
}
.a{
  position: absolute;
  left: 900px;
  padding-top: 60px;
  color:#FFF;
  font-size: 25px;
}
.footer-main a{
  text-decoration: none;
  color:#FFF;
}
.a img{
  height: 24px;
  width: 24px;
}
.footer-img{
  position: absolute;
  left: 550px;
  top: 200px;
}
 .footer-img img{
  
  width: 36px;
  height: 36px;

 }
.copyright{
  position: absolute;
  left: 40px;
  top: 340px;
  font-size: 24px;
}
.subscribe{
  position: absolute;
  left: 900px;
  top: 340px;
  font-size: 24px;
}